server:
  port: 8083

spring:
  application:
    name: user-service
  config:
    import: "configserver:${CONFIG_SERVER_URL:http://localhost:8888}"

jwt:
  secret: ${JWT_SECRET:my-very-long-and-secure-jwt-secret-key-that-is-at-least-512-bits-long-so-it-works-with-shopease-microservices}
  expiration: 86400000 # 24 hours
