server:
  port: 8081

spring:
  application:
    name: product-service
  config:
    import: "configserver:${CONFIG_SERVER_URL:http://localhost:8888}"
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: ${SHOW_SQL:false}
  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 0
    locations: classpath:db/migration
